body{
    background-color: gold;
}

#nav-bar{
    position: fixed;
}
.head{
    text-align: center;
    color: white;
}
.container{
    background-color: gray;
    margin-right: 150px;
    margin-left: 150px;
}
.form{
    padding-left: 200px;
    padding-right: 200px;
}
.btn{
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40%;
    margin-top: 10px;
}
#email {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.container-c{
    background-color: gray;
}
h2{
    color: white;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
.video{
    text-align: center;
}
.level{
    color: white;
    text-align: center;
}
li{
    text-align: center;
    color: white;
}
.container-1{
background-color: lightpink;
display: inline-block;
width: 30%;
}
.container-2{
    background-color: lightseagreen;
    display: inline-block;
    width: 30%;
}
.container-3{
background-color: lightsteelblue;
display: inline-block;
width: 30%;
}

.select-btn{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.all-containers{
    margin-left: 5%;
}
.footer{
    text-align: center;
    color: white;
}